.form-group {
  small.required {
    color: red;
    position: relative;
    height: 100%;
    &::after {
      content: '*';
      position: absolute;
      top: -7px;
      left: 2px;
    }
  }
}

// cart list
$height: 120px;
$m-space: 30px;
.cart {
  width: 100%;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.cart {
  &__title {
    line-height: 40px;
    border-bottom: 1px solid #E1E8EE;
    padding: 10px 30px;
    display: flex;
    .title {
      color: #5E6977;
      display: inline-block;
      font-size: 1.8rem;
      font-weight: 900;
    }
    .price {
      margin-left: auto;
      display: inline-block;
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
  &__body {
    overflow-y: auto;
    max-height: calc(120px * 5);
    min-height: calc(120px * 5);
  }
  &__item {
    padding: 20px 30px;
    height: $height;
    display: flex;
    &:nth-child(n) {
      border-bottom:  1px solid #E1E8EE;
      border-top:  1px solid #E1E8EE;
    }
    &:first-child {
      border-top: none
    }
    &:last-child {
      border-bottom:  none;
    }
    .buttons {
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      // padding-top: 30px;
      margin-right: $m-space;
    }
    .delete-btn {
      display: inline-block;
      padding: 5px;
      color: #dc3545;
      border: 1px solid #dc3545;
      border-radius: 3px;
      Cursor: pointer;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      &:hover {
        color: #fff;
        background: #dc3545;
      }
    }
  }
  &__image {
    margin-right: $m-space;
    height: 100%;
    width: 100px;
    img {
      width: auto;
      max-height: 100%;
    }
  }
  &__description {
    margin-right: $m-space;
    height: 100%;
    > div {
      white-space: nowrap;
      display: block;
      font-size: 14px;
      width: 110px;
      &:first-child {
        font-size: 1.3rem;
        font-weight: 400;
      }
      &:last-child {
        margin-top: 5px;
        font-size: 1.1rem;
        font-weight: 200;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  &__quantity {
    line-height: $height / 2;
    margin-right: $m-space;
    margin-left: $m-space;
    input,button[class*=btn] {
      line-height: 1;
      height: auto;
      vertical-align: middle;
    }
    input {
      -webkit-appearance: none;
      border: none;
      text-align: center;
      width: 32px;
      font-size: 16px;
      color: #43484D;
      font-weight: 300;
    }
    button[class*=btn] {
      width: 30px;
      height: 30px;
      background-color: #E1E8EE;
      border-radius: 6px;
      border: none;
      cursor: pointer;
    }
    button:focus,
    input:focus {
      outline:0;
    }
    .fas {
      font-size: small;
    }
  }
  &__price {
    display: block;
    text-align: right;
    line-height: $height / 2;
    font-size: 1.3rem;
    color: #43484D;
    font-weight: 300;
    flex: 1 0 0%;
  }
}

// payform

.payform {
  width: 100%;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  &__title {
    padding: 20px 30px;
  }
  &__content {
    padding: 0 20px 20px 20px;
  }
}

// RWD

@media (max-width: 800px) {
  .cart {
    width: 100%;
    height: auto;
    overflow: hidden;
    .cart {
      &__item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
      }
      &__image,
      &__quantity,
      &__description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
      }
      &__image img {
        width: 50%;
      }
    }
    .buttons {
      margin-right: 20px;
    }
  }
}